

<!-- <hr>
    <section id="slider">

      <div class="product">
          <div class="container-fluid">
              <div class="slider-wrap">
                  <div class="slider-main">
                      <button class="item"  
                      [attr.aria-label]="categoryList.sectionName" (click)="categoryId(categories.value)" 
                          value="{{categoryList.sectionId}}"
                          #categories >
                          {{categoryList.sectionName}}   
                  </button>
                  </div>
                  <div class="button-area">
                      <button type="button" class="prev" appPrev><i class="fa-solid fa-angle-left"></i></button>
                      <button type="button" class="next" appNext><i class="fa-solid fa-angle-right"></i></button>
                  </div>
              </div>
          </div>
      </div>
  </section> -->
