.section-name {
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
    justify-content: center;
  }
  .loop {
    display: inline-block;
    text-align: center;
    margin: 10px;
   
  }
  .mainmenu{
height:220px;
overflow: scroll;
overflow-x: hidden;
  }


  /*ProductLists*/
  