<div class="box">
    <div>
        <button class="increment" *ngIf="count>=1" >
            {{count}}
        </button>
    </div>
    
    <button class="box-item"
    [attr.aria-label]="ProductItem.menuName"
    (click)="calculation('add')"
    (click)="calculation('minus')"
    (click)="MenuItemClicked({name:ProductItem.menuName, price:ProductItem.menuPrice,id:ProductItem.menuId})" 
    >
            {{ProductItem.menuName}}
            <div class="price pt-1">
                {{ProductItem.menuPrice | currency:'PKR '}}
            </div>

    </button> 
   
 </div> 