<section id="id">
    <div class="details">
        <div class="section-name">
            <div class="name text-center">Details</div>
            <div class="line">
                <hr>
            </div>
        </div>
        <div class="detailTable">
            <div class="menuText">
                Menu Total
            </div>
            <hr class="detailLine"/>
            <div class="detailPrice ">
                Rs:280
            </div>
        </div>
        <div class="detailTable">
            <div class="menuText">
                Menu Total
            </div>
            <hr class="detailLine"/>
            <div class="detailPrice ">
                Rs:280
            </div>
        </div>
        <div class="detailTable">
            <div class="menuText">
                Menu Total
            </div>
            <hr class="detailLine"/>
            <div class="detailPrice ">
                Rs:280
            </div>
        </div>
        <div class="detailTable">
            <div class="menuText">
                Menu Total
            </div>
            <hr class="detailLine"/>
            <div class="detailPrice ">
                Rs:280
            </div>
        </div>
    </div>
    <div class="bill">
        <div class="section-name">
            <div class="name text-center">Bill</div>
            <div class="line">
                <hr>
            </div>
        </div>
        <div class="billContainer">
            <div class="totalBill">
                <div class="text">
                    Total Bill
                </div>
                <div class="totalPrice">
                    7430
                </div>
            </div>
            <div class="amountTendered">
                <div class="text">
                    Amount Tendered
                </div>
                <div class="temderdPrice">
                    8000
                </div>
            </div>
            <div class="amountChange">
                <div class="text">
                    Change
                </div>
                <div class="changePrice">
                    570
                </div>
            </div>
        </div>
    </div>
</section>

<button (click)="arrays()">check</button>