<!-- <section class="container">


    <div class="scrollable">
        <div class="alert alert-info" *ngIf="cartItems.length === 0"> Your Cart is Empty</div>
        <table class="table my-1 " *ngIf="cartItems.length">

            <thead class=" thead text-dark ">
                <tr>
                    <th >ITEMS</th>
                    <th >QTY</th>
                    <th >PRICE</th>
                    <th > AMOUNT</th>
                    <th >Delete</th>
                </tr>

            </thead>

            <tbody class="" *ngFor="let cartItem of cartItems">
                <tr>
                    <td >{{cartItem.name}}</td>
                    <td >{{cartItem.qty}}</td>
                    <td >{{cartItem.price}}</td>
                    <td >{{(cartItem.qty * cartItem.price) | currency:'RS: '}}</td>
                    <td >
                        <button (click)="removeItem(cartItem)">
                         
                            <i class="fa-regular fa-trash-can"></i>
                        </button> </td>
                </tr>


            </tbody>

        </table>
    </div>

    <div class="total">
        <div class="row justify-content-center text-center">
            <div class="col-6 text-center "><strong>Total</strong></div>
            <div class="col-6 text-center ">
                {{cartTotal | currency:'RS: '}}
            </div>
        </div>

    </div>

    <div class="mainorder_btns my-1">
        <button class="placeorder order">
            Place Order
        </button>
        <button class="placeorder order">
            Hold Order
        </button>
        <button class="placeorder order">
            Print Invoice
        </button>
        <button class="placeorder order">
            Paymenys
        </button>

    </div>
    <div class="services">
        <button class="dinin service">
            Dine In
        </button>
        <button class="takeawy service">
            Take Away
        </button>
        <button class="delivery service">
            Delivery
        </button>
    </div>
</section> -->



<section class="container">


    <div class="scrollable">
        <div class="alert alert-info" *ngIf="cartItems.length === 0" > Your Cart is Empty</div>
        <table class="table my-1 " >

            <thead class=" thead text-dark" *ngIf="cartItems.length">
                <tr>
                    <th >ITEMS</th>
                    <th >QTY</th>
                    <th >PRICE</th>
                    <th > AMOUNT</th>
                    <th >Delete</th>
                </tr>

            </thead>
            <tbody class="text-center" *ngFor="let cartItem of cartItems">
                <tr>
                  <td>{{cartItem.name}}</td>
                  <td class="d-flex justify-content-between">
                    <div>
                      <button (click)="inc(cartItem)">+</button>
                    </div>
                    <div>{{cartItem.qty}}</div>
                    <div>
                      <button (click)="dec(cartItem)" >-</button>
                    </div>
                  </td>
                  <td>{{cartItem.price}}</td>
                  <td>
                    {{(cartItem.price * cartItem.qty)}}
                  </td>
                  <td>
                    <button (click)="removeItem(cartItem)">
                        <i class="fa-regular fa-trash-can"></i>
                    </button>
                  </td>
                </tr>
                     
                  </tbody>

            <!-- <tbody class="" >
                <tr>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td >
                        <button >
                    
                            <i class="fa-regular fa-trash-can"></i>
                        </button> </td>
                </tr>


            </tbody> -->

        </table>
    </div>

    <div class="total">
        <div class="row justify-content-center text-center">
            <div class="col-6 text-center "><strong>Total</strong></div>
            <div class="col-6 text-center ">
             {{cartTotal}}
            </div>
        </div>

    </div>

    <div class="mainorder_btns my-1">
        <button class="placeorder order">
            Place Order
        </button>
        <button class="placeorder order">
            Hold Order
        </button>
        <button class="placeorder order">
            Print Invoice
        </button>
        <button class="placeorder order">
            Paymenys
        </button>

    </div>
    <div class="services">
        <button class="dinin service">
            Dine In
        </button>
        <button class="takeawy service">
            Take Away
        </button>
        <button class="delivery service">
            Delivery
        </button>
    </div>
</section>